html, body, #react-target {
  padding: 10px;
  font-family: sans-serif;
  height: 100%;
}

.listItemTitle {
  background-color: #00C2E0;
  color: #363537;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: None;
  border-bottom: #363537 solid 1px;
  border-top: #363537 solid 1px;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
}

.listItemTitle.active, .listItemTitle:hover {
  background-color: #7696D0;
}
.listItemContent {
  padding: 20px;
  display: none;
  overflow: hidden;
  background-color: #EFF1F3;
  color: #363537;
  border-radius: 5px;
}
.listItemContent.active {
  display: block;
}

path {
  fill: #FED766;
}

.listMgmt {
  background-color: #EFF1F3;
  width: 90%;
  height: 90%;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-flow: row;
}


.newListObject {
  background-color: #00C2E0;
  height: 200px;
  flex-basis: 150px;
  margin: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  display: flex;
}
.newListObject:hover {
  background-color: #7696D0;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/*1: ccf5ac*/
/*2: BAD29F*/
/*3: 808A9F*/
/*2C497F*/
/*3D2B56*/
/**/
/*!*druga wersja*!*/
/*FED766 !*zolty*!*/
/*009FB7 00C2E0 !*turkus*!*/
/*EFF1F3!*bialawy*!*/
/*2C497F 345798 !*granat*!*/
/*363537 !*szary*!*/